/* your styling here */
.notification-container{
	position: absolute;
	bottom: 30px;
	right: 30px;
}

.notification-box {
	min-height: 20px;
	width: 250px;
	border: black 1px solid;
	border-radius: 6px;
	font-family: verdana;
	padding: 10px;
	background-color:white;
	color: black;
	position: relative;
	margin-bottom: 5px;
}

.notification-box-warning {
	background-color:yellow;	
}

.notification-box-error {
	background-color:red;
	color: white;	
}

.icon-image{
	height: 20px;
	width: 20px;
	margin-right: 10px;
}